@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaSemibold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaBold.otf') format("opentype");
    font-weight: 700;
}


@font-face {
    font-family: 'Gosha Sans';
    src: url('../fonts/Gosha\ Sans\ Regular\ 400.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gosha Sans';
    src: url('../fonts/Gosha\ Sans\ Bold\ 700.otf') format("opentype");
    font-weight: 700;
}